$accentColor = #424242
$textColor = #232321
$themePicker = {
  Lime: #eaff8f,
  DaybreakBlue: #91d5ff,
  GeekeBlue: #adc6ff,
  GoldenPurple: #efdbff,
  Gray: #E1DBCD,
  Green: #AFC8BA
}
#app .logo{
    display:none;
}

p img{
    display:block;
    margin:0 auto;
    border-radius:5px;
    box-shadow:0 0 8px rgba(0,0,0,.5);
}